* {
    box-sizing: border-box;
    list-style: none;
}

body{
    margin: 0px;
}

header{
    padding: 50px;
    text-align: center;
    background: rgb(17 143 158);
    color: #edf1f2;
}

header h1{
    font-size: 40px;
}

nav{
    background-color: #333;
    overflow: hidden;
}

nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left;
    
}

section{
    text-align: center;
    padding-top: 40px;
    height: 100vh;
}

section:nth-child(even){
    background-color: #ececec;
}

iframe{
    padding: 0px 5px;
}
img{
    padding: 0px 20px;
}

h2{
    padding-bottom: 40px;
}

footer{
    background-color: #333;
    overflow: hidden;
}

footer a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left;
}

.copyright{
    float: right;
}

section h5{
    margin: 0px 130px;
}